---
name: "Build LightServer"

on:                          # yamllint disable-line rule:truthy
  schedule:
    - cron: '41 08 * * 6'

  workflow_dispatch:

  push:
    branches-ignore:
      - 'update/**'
      - 'dependabot/**'
    tags:
      - '**'
    paths:
      - 'LightServer/**'

env:
  TARGET: GitHubLightServer
  CHANNEL_BASE: GitHubLightServer

jobs:

  "macOS":

    runs-on:
      - self-hosted
      - macOS

    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v6

      - name: macOS Build
        working-directory: ./LightServer
        run: |
          go generate ./...
          $HOME/github/bin/build_go_macos.sh

      - name: Mark Completed
        run: touch  ${{ runner.temp }}/Green


  linux:

    runs-on:
      - self-hosted
      - linux

    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v6

      - name: linux Build
        working-directory: ./LightServer
        run: |
          go generate ./...
          $HOME/github/bin/build_go_linux.sh

      - name: Mark Completed
        run: touch  ${{ runner.temp }}/Green
